.text-service-detail{
    padding-left: 10px;
    font-size: 1vw;
}
.cut-text-multi-slide-text-detail-service{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.img-service{
    width:99%;
    min-width: 20vw;
    height: 320px;
}
.img-service-detail{
    width: 32vw;
    height: 20vw;
    margin-top: 1vw;
}
.img-service-topicdetail{
    height: 100%;
    width: 100%;
    max-width: 33vw;
    max-height: 26vw;
}
.slick-slide {
    margin: unset;
}

.slide-item-service{
    position: relative;
}
.slide-service{
    position: absolute ;
    background-color: rgba(0, 0, 0, 0.53);
    height: 100%;
    width: 100%;
    padding-left: 210px;
}
.slide-header-service{
    font-size: 60px;
    color: #fff;
     padding-top: 70px;
}
.slide-text-detail-service{
    color: #fff; 
    padding-top: 10px;
    font-size: 1vw;
}
.detail-service{
    color: #8f8f8f; 
    padding-top: 15px;
    font-size: 1.2vw;
}
.slick-slide {
    margin: unset;
}

.slide-item-service{
    position: relative;
}
.slide-topic-detail{
    font-size: 1.3vw;
    font-weight: 700;
    color: #fff;
    padding-top: 80px;
}
.slide-detail-service{
    position: absolute ;
    text-align:center;
    max-width: 99%;
    min-height: 100%;
    top:0%;
    background-color: #0e2956d4;
}
.slide-headercertification{
    font-size: 20px;
    padding: 24px;
}
.owl-item.active{
    border: none!important;
}
.topic-service{
    color: #000; 
    padding-top: 10px;
    font-size: 40px;
}

@media only screen and (max-width: 1024px) {
        .slide-detail-service{
            padding: 24px;
            padding-top: 5vw;
            width: 100%;
        }
        .text-service-detail {
            font-size: 1.1vw;
        }
        .img-service-detail {
            width: 32.5vw;
            height: 25vw;
            margin-top: 1vw;
        }
        .slide-text-detail-service{
            font-size: 1.3vw;
        }
        .slide-topic-detail{
            padding-top: 0px;
            font-size: 2vw;
        }
        .detail-service{
            font-size: 1.5vw;
        }
        
}
@media only screen and (max-width: 991.5px) {
    .slide-detail-service{
        padding: 24px;
        width: 100%;
        padding-top: 10vw;
    }
        .img-service-topicdetail{
            width: 90vw;
            padding-left: 10vw;
        }
        .img-service-detail{
            width: 32.5vw;
            height: 25vw;
            margin-top: 1vw;
        }
        .slide-text-detail-service{
            font-size: 2vw;
        }
        .slide-topic-detail{
            font-size: 3vw;
        }
        .text-service-detail {
            font-size: 1.7vw;
            padding-left: 10vw;
            padding-right: 10vw;
            padding-top: 2vw;
        }
}
@media only screen and (max-width: 768px) {
    .img-service-detail {
        width: 48.5vw;
        height: 35vw;
        margin-top: 1vw;
    }
    .text-service-detail {
        font-size: 2vw;
        padding-top: 2vw;
    }
    .slide-text-detail-service {
        font-size: 3vw;
    }
    .slide-topic-detail {
        font-size: 5vw;
    }
}
@media only screen and (max-width: 570px) {
    .slide-header-service{
        font-size: 10vw !important;
    }
    .slide-service{
        padding-left: 20vw;
    }
    .slide-detail-service{
        padding-top: 10vw;
    }
    .slide-topic-detail{
        font-size: 6vw;
    }
    .slide-text-detail-service{
        font-size: 3vw;
    }
    .img-service-detail {
        width: 48.5vw;
        height: 40vw;
    }
}
@media only screen and (max-width: 500px) {
    .text-service-detail {
        font-size: 3vw;
        padding-top: 3vw;
    }
}
@media only screen and (max-width: 415.5px) {
    .text-service-detail {
        font-size: 3.5vw;
    }
}
@media only screen and (max-width: 375px) {
    .slide-detail-service{
        padding-top: 28vw;
    }
    .img-service-topicdetail {
        width: 97vw;
        padding-left: 3vw;
        height: 80vw;
    }
    .text-service-detail {
        font-size: 3.5vw;
    }
    .text-service-detail {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .slide-text-detail-service {
        font-size: 4vw;
    }
}
@media only screen and (max-width: 320px) {
    .slide-header-service{
        font-size: 12vw !important;
    }
    .slide-service{
        padding-left: 20vw !important;
    }
    .detail-service{
        font-size: 2vw;
    }
    .topic-service{
        font-size: 8vw;
    }
    .slide-detail-service{
        max-width: 100%;
    }
    .slide-text-detail-service {
        font-size: 4vw;
    }
}